<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>[ENTER A NEW TITLE]</string>
	<key>CFBundleIdentifier</key>
	<string>[ENTER A NEW BUNDLE IDENTIFIER HERE (SEE README.md)]</string>
	<key>Protogrid Host</key>
	<string>[ENTER THE PROTOGRID HOST HERE (SEE README.md)]</string>
	<key>Application Database ID</key>
	<string>[ENTER THE APP ID HERE (SEE README.md)]</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>Max number of stale docs for write access</key>
	<integer>200</integer>
	<key>Threshold Document Attachment Size in Bytes</key>
	<string>1000</string>
	<key>Threshold Document Age in Days</key>
	<string>10</string>
	<key>Tableview Data Limit</key>
	<integer>100</integer>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>UIAppFonts</key>
	<array>
		<string>opensans-regular-webfont</string>
		<string>opensans-light-webfont</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>Protogrid Core Version</key>
	<string>$version_number</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>codm</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>Replication Unit Test</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>Readonly mode</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>PGridLaunchScreen</string>
	<key>Unit Tests Database ID</key>
	<string>app000f66c8-b913-4893-973e-137a2e3622e5</string>
</dict>
</plist>
