<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IOSReplicationTestMedium</key>
	<string>medium</string>
	<key>IOSReplicationTestNever</key>
	<string>never</string>
	<key>IOSReplicationTestHigh</key>
	<string>high</string>
</dict>
</plist>
